{% extends 'layout.html' %} 


{% block title %}
 Edit_supplier
 {% endblock %} 


{%block content %}

<h1 class="mb-5">Edit Supplier - {{ supplier.supplier_name }}</h1>

<!-- Display alert messages -->
{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'supplier_list' %}" class="btn btn-danger">Cancel</a>

</form>

{% endblock %}
