 {% extends 'layout.html' %} 


{% block title %}
 Supplier List
 {% endblock %} 

{%block content %}
<h1 class="mb-3">Supplier List : </h1>

<a href="{% url 'add_supplier' %}">
    <button type="button" class="mb-3 btn btn-outline-secondary">Add Supplier</button>
</a>
<table class="table table-bordered table-hover border-secondary">
    <thead class="table-primary">
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Supplier Name</th>
        <th scope="col">Phone. No.</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for supplier in suppliers %}
      <tr>
          <td>{{ forloop.counter }}</td> 
          <td>{{ supplier.supplier_name }}</td>
          <td>{{ supplier.phone_no }}</td>
          <td>{{ supplier.address }}</td>
          
          <td>

                

              <a href="{% url 'edit_supplier' supplier.id %}">
                  <button  class="btn btn-success btn-sm mx-2">
                      <i class="fas fa-edit"></i>
                  </button> 
              </a>

              {% comment %} <a href="{% url 'delete_supplier' supplier.id %}" onclick="return confirm('Are you sure you want to delete this Supplier?');">
                  <button style="margin-left:10px;" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                  </button>
              </a> {% endcomment %}

              <a href="{% url 'view_supplier' supplier.id %}">
                <button  class="btn btn-secondary btn-sm mx-2">
                    <i class="fas fa-eye"></i>
                </button> 
              </a>

              <!-- Trigger modal -->
              <button  type="button" class="btn btn-danger btn-sm mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ supplier.id }}">
                <i class="fas fa-trash"></i>
             </button>

            <div class="modal fade" id="deleteModal{{ supplier.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ supplier.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel{{ supplier.id }}"> Delete Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            Are you sure you want to delete this Supplier "{{ supplier.supplier_name }}"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action="{% url 'delete_supplier'  supplier.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            

            
          </td>
      </tr>
  {% endfor %}
  
        </tbody>
  </table>

{% endblock %} 