{% extends 'layout.html' %}

{% block title %}
    Purchase Details
{% endblock %}

{% block content %}
<h3 class="mb-3">Purchase Details for Invoice: {{ purchase_master.invoice_no }}</h3>

<p>
    <strong>Supplier Details :</strong> {{ purchase_master.supplier_id.supplier_name }} , Phone.No -{{purchase_master.supplier_id.phone_no}} , Address :- {{purchase_master.supplier_id.address}}
</p>

<p><strong>Total Amount :</strong> {{ purchase_master.total_amount }}</p>
<p><strong>Invoice Date :</strong> {{ purchase_master.invoice_date|date:"d-m-Y" }}</p>

<table class="table table-bordered table-hover border-secondary">
    <thead class="table-primary">
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for detail in purchase_details %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ detail.item_id.item_name }}</td> <!-- Item name from foreign key -->
            <td>₹ {{ detail.price }}</td>
            <td>{{ detail.quantity }}</td>
            <td>₹ {{ detail.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No items found for this purchase.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'purchase_list' %}">
    <button class="btn btn-secondary">Back to Purchase List</button>
</a>

{% endblock %}
